@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: hsl(229, 24%, 87%);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

a {
  text-decoration: none;
}

@media (max-width:992px) {
  body {
    display: block;
    position: relative;
    min-height: 85vh;
  }
}